.background-image-fo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/background-login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .container-fo {
    width: 400px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 250px;

    .forgot-password-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;

      h2 {
        margin-bottom: 15px;
        font-weight: bold;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        width: 300px;

        label {
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          padding: 8px;
          margin-bottom: 10px;
        }

        button {
          background-color: green;
          color: #fff;
          border: none;
          padding: 10px;
          cursor: pointer;

          &:hover {
            background-color: #0056b3;
          }
        }
      }

      .success-message {
        margin-top: 10px;
        color: green;
      }
    }
  }
}

