<<<<<<< HEAD
.background-image-re {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/background-login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
=======
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/background-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
>>>>>>> af47ae08ad28ae4410e4e11e059b824aa75e7216

  .container-re {
    width: 400px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 620px;

    .register-re {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px;
      
      h2 {
        margin-bottom: 5px;
        font-weight: bold;
      }
      
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0px;
        width: 300px;

        label {
          display: block;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        select {
          width: 100%;
          padding: 8px;
          margin-bottom: 10px;
        }

        button {
          background-color: green;
          color: #fff;
          border: none;
          padding: 10px;
          cursor: pointer;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
}